<div class="p-4">
  <table class="w-full table-auto border-collapse">
    <thead>
      <tr>
        <th class="px-4 py-2">Hora</th>
        <th class="px-4 py-2">Estado</th>
        <th class="px-4 py-2">Paciente</th>
        <th class="px-4 py-2">Identificación</th>
        <th class="px-4 py-2">Especialidad</th>
        <th class="px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of appointments" class="hover:bg-gray-100">
        <td class="px-4 py-2">{{ cita.horaCita }}</td>
        <td class="px-4 py-2">
          <span
            [ngClass]="{
              'text-green-500': cita.estado === 'Confirmada',
              'text-red-500': cita.estado !== 'Confirmada'
            }"
          >
            {{ cita.estado }}
          </span>
        </td>
        <td class="px-4 py-2">{{ cita.paciente }}</td>
        <td class="px-4 py-2">{{ cita.nroDocumento }}</td>
        <td class="px-4 py-2">{{ cita.especialidad }}</td>
        <td class="px-4 py-2">
          <button
            class="text-red-500 hover:text-red-700"
            (click)="openModal(cita)"
          >
            ❗
          </button>

          <!-- Modal -->
          <div
            *ngIf="showModal"
            class="modal fixed z-50 inset-0 overflow-y-auto"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Detalles de la Cita Médica</h5>
                  <button (click)="closeModal()" class="close">&times;</button>
                </div>
                <div class="modal-body">
                  <p>
                    <strong>Tipo Documento:</strong>
                    {{ selectedAppointment?.tipoDocumento }}
                  </p>
                  <p>
                    <strong>Nro. Documento:</strong>
                    {{ selectedAppointment?.nroDocumento }}
                  </p>
                  <p>
                    <strong>Paciente:</strong>
                    {{ selectedAppointment?.paciente }}
                  </p>
                  <p>
                    <strong>Nro. Celular:</strong>
                    {{ selectedAppointment?.celularPaciente }}
                  </p>
                  <p>
                    <strong>Fecha de la Cita:</strong> {{ selectedAppointment?.fechaCita }}
                  </p>
                  <p>
                    <strong>Hora de la Cita:</strong> {{ selectedAppointment?.horaCita }}
                  </p>
                  <p>
                    <strong>Especialidad:</strong>
                    {{ selectedAppointment?.especialidad }}
                  </p>
                  <p>
                    <strong>Consultorio:</strong>
                    {{ selectedAppointment?.consultorio }}
                  </p>
                  <p>
                    <strong>Sede:</strong>
                    {{ selectedAppointment?.sede }}
                  </p>
                  <p>
                    <strong>Estado de la Cita:</strong>
                    {{ selectedAppointment?.estado }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
