<div class="container mx-auto py-8 px-4">
  <!-- Imagen grande arriba -->
  <div class="mx-48">
    <div class="mb-8">
      <img src="./img/banner1.png" alt="Imagen principal" class="w-full h-auto">
    </div>
  </div>

  <!-- Tarjetas debajo de la imagen principal -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Primera tarjeta -->
    <div class="border p-4 rounded-xl text-center shadow-lg">
      <h2 class="text-xl font-bold text-cyan-700">Cómo acceder al servicio</h2>
      <p class="text-gray-600 mt-2">Conoce de forma fácil y clara cómo puedes acceder a nuestros servicios.</p>
      <button class="mt-4 bg-cyan-700 text-white px-4 py-2 rounded-xl">Ver más</button>
    </div>

    <!-- Segunda tarjeta -->
    <div class="border p-4 rounded-xl text-center shadow-lg">
      <h2 class="text-xl font-bold text-cyan-700">Asesor de oficina en línea</h2>
      <p class="text-gray-600 mt-2">Accede a los servicios que te brindamos en las oficinas via chat o videollamada.</p>
      <button class="mt-4 bg-cyan-700 text-white px-4 py-2 rounded-xl">Ver más</button>
    </div>

    <!-- Tercera tarjeta -->
    <div class="border p-4 rounded-xl text-center shadow-lg">
      <h2 class="text-xl font-bold text-cyan-700">Medicamentos</h2>
      <p class="text-gray-600 mt-2">Conoce nuestro modelo de entrega de medicamentos.</p>
      <button class="mt-4 bg-cyan-700 text-white px-4 py-2 rounded-xl">Ver más</button>
    </div>
  </div>
</div>
