<header class="bg-cyan-900 text-white py-1">
  <div class="container mx-auto flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center">
      <a routerLink="">
        <img src="./img/logo.JPG" alt="Logo" class="h-14 w-22  mr-4" />
      </a>
    </div>

    <!-- Título centrado -->
    <h1 class="text-3xl font-bold flex-grow text-center">
      Clínica Privada
    </h1>

    <!-- Enlaces a la derecha -->
    <nav class="flex space-x-4">
      <a routerLink="/login" class="hover:underline">Inicia Sesión</a>
      <a routerLink="/registro" class="hover:underline">Crear Cuenta</a>
    </nav>
  </div>
</header>
