<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h2 class="text-2xl font-semibold text-cyan-800 mb-4">Actualiza tu contraseña</h2>

  <div class="flex flex-col space-y-4">
    <div class="flex flex-col">
      <label for="codigoActivacion" class="text-cyan-800">Código de Confirmación</label>
      <input
        id="codigoActivacion"
        type="text"
        [(ngModel)]="codigoActivacion"
        placeholder="Código de confirmación"
        class="p-0.5 border border-cyan-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-600"
      />
    </div>

    <div class="flex flex-col">
      <label for="nuevaContrasena" class="text-cyan-800">Nueva Contraseña</label>
      <input
        id="nuevaContrasena"
        type="password"
        [(ngModel)]="nuevaContrasena"
        placeholder="nueva contraseña"
        class="p-0.5 border border-cyan-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-600"
      />
    </div>

    <div class="flex flex-col">
      <label for="confirmarContrasena" class="text-cyan-800">Confirmar Contraseña</label>
      <input
        id="confirmarContrasena"
        type="password"
        [(ngModel)]="confirmarContrasena"
        placeholder="Repetir contraseña"
        class="p-0.5 border border-cyan-800 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-600"
      />
    </div>

    <button
      (click)="onActualizar()"
      class="mt-4 px-6 py-1 text-white bg-cyan-800 hover:bg-cyan-600 rounded-xl"
    >
      Actualizar
    </button>
  </div>
</div>
